config BCM43241
	tristate "Broadcom 43241 wireless card support"
	depends on MMC
	---help---
	  This module adds support for wireless adapters based on
	  Broadcom 43241 chipset.

	  This driver uses the kernel's cfg80211 subsystem.

	  If you choose to build a module, it'll be called dhd. Say M if
	  unsure.

config BCM43241_FW_PATH
	depends on BCM43241
	string "Firmware path"
	default "/system/vendor/firmware/fw_bcmdhd.bin"
	---help---
	  Path to the firmware file.

config BCM43241_NVRAM_PATH
	depends on BCM43241
	string "NVRAM path"
	default "/system/etc/wifi/bcmdhd.cal"
	---help---
	  Path to the calibration file.

config BCM43241_HW_OOB
	bool "Use out of band interrupt"
	depends on BCM43241
	default n
	---help---
	  Use out of band interrupt for card interrupt and wake on wireless.

config BCM43241_INSMOD_NO_FW_LOAD
	bool "Enable delayed firmware load"
	depends on BCM43241
	default n
	---help---
	Enable delayes firmware

config BCM43241_EDP_SUPPORT
	bool "BCMDHD EDP Support"
	depends on BCM43241 && EDP_FRAMEWORK
	help
	  Use BCMDHD EDP Support to register the driver to
	  battery edp manager.

config DHD_USE_STATIC_BUF
	bool "Enable memory preallocation"
	depends on BCMDHD
	default n
	---help---
	  Use memory preallocated in platform

config DHD_USE_SCHED_SCAN
	bool "Use CFG80211 sched scan"
	depends on BCMDHD && CFG80211
	default n
	---help---
	  Use CFG80211 sched scan

config BCM43241_WIFI_CONTROL_FUNC
	bool "Use bcmdhd_wlan device"
	depends on BCM43241
	default n
	---help---
	  Use this option to get various parameters from architecture specific
	  bcmdhd_wlan platform device. Say n if unsure.

config BCM43241_CUSTOM_REGULATORY_DOMAIN
	bool "Enable Custom Regulatory Domain"
	depends on BCM43241
	default y
	---help---
	Use Custom Regulatory Domain set by driver.

config BCM43241_CLAIM_SDIO_CLASS_NONE
	bool "Claim SDIO chip with no class"
	depends on BCM43241
	default y
	---help---
	Claim SDIO chip with no class
